@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding:0;
}

body {
background-color:cadetblue;
margin: 20px 100px;
}
.main {
    text-align: center;
}
table {
    font-size: 25px;
    margin-top: 20px;
    padding: 30px;
    width: 30%;
    border: 2px solid black;
    font-weight: bold;
    margin-left: 33rem;
}
table input {
    width: 100%;
}
span {
    color: white;
}
.submit {
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin-left: 80px;
    margin-top: 30px;
    padding: 5px;

}
.submit:hover {
    background-color: rgb(226, 223, 19);

}

#image {
    font-size: 10%;
    width: 70px;
    height: 70px;
    margin-top: 25px;
    background-color: rgb(226, 223, 19);
}
.header {
    display: flex;
    height: 150px;

}
.logo {
    font-size: 250%;
    margin-top: 25px;
}

